<div class="container text-center w-50 m-auto">
    <h1>{{title}}</h1>
    <p>LOGIN TEMPLATE</p>
    <form action="/login" method="POST">
        <label for="emailAddress">E-mail address</label>
        <input class="form-control" type="email" name="emailAddress" id="emailAddress" required><br>
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" required><br>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
</div>